* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #ebeef4;
  font-size: 16px;
}

header a {
  color: #666666;
}

header a:hover {
  color: #f86759;
}

header .col-md-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 15px 0;
}

header .col-md-12 .fa-phone {
  padding-right: 10px;
}

header .col-md-12 .fa-paper-plane-o {
  padding-right: 10px;
}

header .col-md-12 span {
  padding: 0 15px;
}

header .col-md-12 .social-networking i {
  padding: 5px;
  color: #f86759;
}

header .col-md-12 .social-networking .fa-facebook:hover {
  color: #4267B2;
}

header .col-md-12 .social-networking .fa-linkedin:hover {
  color: #0072b1;
}

header .col-md-12 .social-networking .fa-twitter:hover {
  color: #38A1F3;
}

a {
  text-decoration: none !important;
}

nav {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 900;
  -webkit-box-shadow: 0 1px 1px -1px gray;
          box-shadow: 0 1px 1px -1px gray;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li > a {
  padding: 0 5px 15px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li > a:hover {
  color: #f86759 !important;
  border-bottom: 1px solid #f86759;
}

nav #search {
  margin-left: 10px;
}

nav #search i {
  margin-left: 15px;
}

#contact {
  background-color: #ebeef4;
  padding-top: 50px;
  padding-bottom: 80px;
}

#contact .maincont {
  margin-left: 0;
  margin-right: 0;
}

#contact h3 {
  margin-bottom: 15px;
  color: #18191a;
  margin: auto;
  margin-bottom: 10px;
  font-weight: 700;
}

#contact hr {
  background-color: #18191a;
  margin: auto;
  width: 15px;
  height: 1px;
  line-height: 10px;
  border-bottom: 1px solid #f86759;
  margin-bottom: 70px;
}

#contact #map {
  padding: 10px;
  background-color: white;
}

#contact #map iframe {
  border: 0.6px dashed #ebeef4;
}

#contact .form-contain {
  padding: 10px;
}

#contact .form {
  padding: 30px 20px;
  border: 0.5px dashed #ebeef4;
}

#contact .form p {
  color: #f86759;
  font-weight: 700;
  font-size: 16px;
}

#contact form input {
  outline: none;
  border: none;
}

#contact form input:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#contact form button {
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  border: 0.4px solid #ebeef4;
  padding: 5px 25px;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 0;
}

#contact form button i {
  margin-left: 2px;
  font-size: 9px;
  padding: 3px;
  color: #f86759;
  border: 0.4px solid #f86759;
  border-radius: 50%;
  position: relative;
  bottom: 2px;
}

#contact form button:hover {
  border-color: #f86759;
  color: #f86759;
}

#contact form button:focus, #contact form button:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.4px solid #ebeef4;
  width: 100%;
}

.form-group i {
  -webkit-transition: .5s;
  transition: .5s;
}

.form-group:focus-within {
  border-color: #f86759;
}

.form-group:focus-within i {
  color: #f86759;
}

.form-group2:focus-within {
  border-color: #f86759;
}

.form-group2:focus-within i {
  color: #f86759;
}

.form-group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 0.4px solid #ebeef4;
  padding: 10px;
  margin-bottom: 15px;
}

.form-group2 i {
  -webkit-transition: .6s;
  transition: .6s;
}

.form-group2 textarea {
  padding-left: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  position: relative;
  left: 15px;
  bottom: 9px;
  margin-right: 20px;
}

.form-group2 textarea:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group2 i {
  position: relative;
  left: 5px;
}

.form-group3 {
  padding-left: 0px;
}

footer {
  background-color: #d1d4d9;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 150%;
}

footer i {
  padding: 5px;
}

footer #footernetwork i {
  color: #f86759;
}

footer #footernetwork .fa-facebook:hover {
  color: #4267B2;
}

footer #footernetwork .fa-linkedin:hover {
  color: #0072b1;
}

footer #footernetwork .fa-twitter:hover {
  color: #38A1F3;
}

footer #footernetwork .fa-google-plus:hover {
  color: #DD4B39;
}

footer #footernetwork .fa-instagram:hover {
  color: #8a3ab9;
}

footer .fa-map-marker {
  float: left;
}

footer p {
  font-size: 14px;
}

footer h4 {
  font-size: 15px;
  color: black;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 15px;
}

footer hr {
  width: 25px;
}

footer a {
  font-size: 14px;
  -webkit-transition: .7s;
  transition: .7s;
  color: #292929;
}

footer a:hover {
  color: #f86759;
}

footer #recent a {
  color: #f86759;
  font-weight: 700;
}
/*# sourceMappingURL=iletisim.css.map */